html {
  font-size: 24px;
  color: #333;
}

a, a:hover, a:focus, a:visited
{
  text-decoration: none;
}

ul, li
{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1, h2, h3
{
  margin: 0;
}

h3
{
  font-size: 20px;
}

#purchase-button
{
  font-size: 16px;
  padding: 1em;
}

.device {
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    position: relative;
}

.iphone7 {
    margin-top: 2em;
    background-image: url('../assets/images/iphone-7-white-mockup.png');
    width: 1106px;
    height: 1894px;
}

.iphone7 #i_inner {
    position: absolute;
    left: 80px;
    top: 108px;
    width: 375px;
    height: 667px;
    border-width: 0px;
}

.form-check
{
  margin-bottom: .5em;
}

.tabs
{
  background-color: #f1f3f8;
  display: flex;
  flex-direction: row;
}

.tabs li
{
  padding: 1em;
  flex-grow: 1;
  color: black;
  text-align: center;
}

.tabs li.active
{
  background-color: white;
  font-weight: bold;
}

#mobile-wrapper
{
    background: black;
    height: 100%;
    position: relative;
}

/* START PAGE */

#start-screen
{
  height: 100%;
  background-image: url('../assets/images/iphone-start-screen.png');
  padding: 65% .25em 0;

}

.push-notification
{
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 8px;
  padding: 1em;
  color: black !important;
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.fade-in
{
  opacity: 1;
  visibility: visible;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.push-notification .header .left
{
  float: left;
}

#centerhunter
{
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: red;
}

.push-notification .header .right
{
  float: right;
}

.message p
{
  margin-bottom: 0;
}

.message .headline
{
  font-weight: bold;
}

/* NEW TRANSACTION PAGE */

.new-transaction, .transaction-history
{
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.new-transaction .header
{
  height: 14em;
  position: relative;
  background-image: url('../assets/images/stock-top-bg.jpg');
  padding: 1em;
  color: white;
}

.new-transaction .header .content-wrapper
{
  display: flex;
  flex-direction: column;
}

.new-transaction .header .spec
{
  border-bottom: none;
}

.new-transaction .stock-price
{
  margin-bottom: 0;
}

.new-transaction .content
{
  padding: 1em;
  flex: 1 0 auto;
}

.new-transaction .content
{
  background-color: white;
}

.spec
{
  display: table;
  width: 100%;
  margin-bottom: 1em;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 1em;
}

.spec > *
{
  display: inline-table;
  width: 50%;
  vertical-align: top;
}

.spec .right
{
  text-align: right;
}

.spec .title
{
  margin-bottom: 0;
  color: #555;
}

.spec .amount
{
  font-weight: bold;
  margin: 0;
}

/* Transaction History */

.transaction-history
{
  background-color: #f2f2f2;
}

.transaction
{
  background-color: white;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 1em;
}

.transaction .link-container
{
  text-align: right;
}

.transaction .link-container a >*
{
  display: inline-block;
  margin-left: .25em;
  vertical-align: middle;
}

.transaction .header > *
{
  vertical-align: top;
}
div.tradingview{
}

div.container4 p {
    margin: 0;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    margin-right: -50%;
    transform: translate(40%, -285%) 
}

.transaction-history
{
  position: relative;
  overflow-y: hidden;
}

.transaction-history h1, .portfolio h1 {
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 1em;
}

.transaction-history .tabs ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 5px 0px;
}
.transaction-history .tabs li {
    margin: 0px;
    padding: 0px;
    display: inline;
    text-align: center;
}
.transaction-history .tabs a {
    display: inline-block;
    min-width: 105px;
}

.transaction-history > .header, .portfolio > .header
{
  position: absolute;
  background-color: rgb(93, 120, 204);
  padding-top: 1.5em;
  width: 100%;
}

.transaction-history .header .img-container, .portfolio .header .img-container
{
  position: absolute;
  top: 0;
  left: .5em;
}

.transaction-history .footer, .portfolio .footer {
    border-top: 2px solid rgb(247, 247, 247);
    background-image: url('../assets/images/footer-bg.png');
    background-repeat: repeat-y;
    position: absolute;
    bottom: 0;
    padding-top: .5em;
    border-top: 1px solid #ccc;
    width: 100%;
}

.transaction-history .footer ul, .portfolio .footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px 0px 0px 0px;
}
.transaction-history .footer li, .portfolio .footer li {
    margin: 0px;
    padding: 0px;
    display: inline;
    text-align: center;
}
.transaction-history .footer a, .portfolio .footer a{
    display: inline-block;
    min-height: 55px;
    min-width: 85px;
    background-position:  center top;
    background-repeat: no-repeat;
    padding-top: 30px;
}

.transaction-history .footer a.marketplace, .portfolio .footer a.marketplace {
    background-image: url('../assets/images/marketplace.svg');
}
.transaction-history .footer a.portfolio, .portfolio .footer a.portfolio {
    background-image: url('../assets/images/portfolio.png');
}
.transaction-history .footer a.settings, .portfolio .footer a.settings {
    background-image: url('../assets/images/settings.svg');
}
.transaction-history .footer a.transactions {
    background-image: url('../assets/images/transactions.png');
}

.portfolio .footer a.transactions {
    background-image: url('../assets/images/feed.svg');
}

.portfolio .footer a.portfolio {
    background-image: url('../assets/images/profile-blue.svg');
}

.transaction-history .content
{
  padding: 1em;
  overflow-y: auto;
  margin-top: 4.5em;
  margin-bottom: 4em;
}

/*
.transaction-history .footer a.active, .transaction-history .footer:hover {
    background-image: url('../assets/images/star-active.png');
}
*/

.message-popover {
    position: absolute;
    width: 375px;
    height: 667px;
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 22pt;
    text-transform: uppercase;
    background-image: url('../assets/images/success.svg');
    background-position: center 40%;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 330px;
    color: rgb(93, 120, 204);
    font-weight: bold;
    z-index: 10;
}

#portfolio-image
{
  width: 375px;
}
