{% extends "layout.html" %}
{% block body %}
    <!-- start: mobile wrapper -->
    <div id="mobile-wrapper">
        <div id="start-screen">
            <a href="/newTransaction">
                <div class="push-notification" id="purchase-made">
                    <div class="header">
                        <div class="left">
                            <div class="img-container">
                                <!-- place logo here -->
                            </div>
                            <p class="sender-name">BTC Price Bet Master</p>
                        </div>
                        <div class="right">
                            <p class="time">Now</p>
                        </div>
                    </div>
                    <div class="content">
                        <div class="message">
                            <p class="headline">{{name}} betting game!</p>
                            <p>Predict the price of bitcoin and win some cash! Jump in now!</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <title>Test</title> 
        <meta charset=utf-8> 
      <!--  <a href="/myLink">Click me</a> -->
    <!-- end: mobile wrapper -->
    </div>
{% endblock %}