{% extends "layout.html" %}
{% block body %}
<!-- start: mobile wrapper -->
<div id="mobile-wrapper">
    <div class="new-transaction">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview">
            <div id="tv-medium-widget-21229"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
            <script type="text/javascript">
                new TradingView.MediumWidget({
                  "container_id": "tv-medium-widget-21229",
                  "symbols": [
                  [
                  "Apple",
                  "AAPL "
                  ]
                  ],
                  "gridLineColor": "#e9e9ea",
                  "fontColor": "#83888D",
                  "underLineColor": "#dbeffb",
                  "trendLineColor": "#4bafe9",
                  "width": "375px",
                  "height": "300px",
                  "locale": "en"
              });
          </script>
      </div>
      <!-- TradingView Widget END -->
      <div class="tabs-container">
        <ul class="tabs">
            <li class="active">Buy Stock</li>
            <li>Stock Trends</li>
        </ul>
    </div>
    <div class="content">
        <div class="specs-container">
            <ul class="specs">
                <li class="spec">
                    <div class="left">
                        <p class="title">Original Purchase:</p>
                        <span class="sub-text">({{ booking_date }})</span>
                    </div><div class="right">
                        <h3 class="amount">{{ transAmount }}€</h3>
                        <span class="sub-text">({{ companyName }})</span>
                    </div>
                </li>
                <li class="spec">
                    <div class="left">
                        <p class="title">Investment Amount:</p>
                   </div><div class="right">
                        <h3 class="amount">{{ stockAmount }}€</h3>
                        <span class="sub-text">(1% of transaction)</span>
                   </div>
                </li>
                <li class="spec">
                    <div class="left">
                        <p class="title">Amount Purchased:</p>
                    </div><div class="right">
                        <h3 class="amount">{{ stockPercentage }}</h3>
                        <span class="sub-text">(shares)</span>
                   </div>
                </li>
            </ul>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Always accept investments from {{ companyName }}.
          </label>
        </div>
        <div class="btn-container">
            <a href="/transactionHistory" id="purchase-button" class="btn btn-primary btn-block">Purchase Stock</a>
        </div>
    </div>
<!-- end: mobile wrapper -->
</div>
{% endblock %}