{% extends "layout.html" %}
{% block body %}
<br>
<p align="center">A right-aligned paragraph.</p>
{% endblock %}

<div class="row">
    <div class="col-sm-12 text-center">
        <button id="btnSearch" class="btn btn-primary btn-md center-block" Style="width: 185.5px;" OnClick="btnSearch_Click" >To then</button>
         <button id="btnClear" class="btn btn-danger btn-md center-block" Style="width: 185.5px;" OnClick="btnClear_Click" >button</button>
     </div>
</div>

                <label>
                   <div class="centerHunter">100 € Per Bet.</div>
               </label>


                                       <div class="message-lose">You <br />LOSE !</div>
W
    $popover2 = $(".message-lose");
    if($popover2.length) {
        window.setTimeout(function() {
            $popover2.fadeOut(1000);
        }, 2000);
    }